---
layout: default
---

<div class="row workspace" > 
	{% for post in site.posts %}
	<div class="worklist">

		<div class="worklisttext">
			<h3> 
				<span class="glyphicon glyphicon-file"></span>
				<a href="{{ post.url }}"> - {{ post.title }}</a>  
				<small>{{ post.date | date_to_string }} </small> 
			</h3>			   
		</div>
			
		<a href="{{ post.url }}"> 
			<div class="worklistimg">
				<img src="#" alt="{{ post.title }}" />
			</div>
		</a>

	</div>	
	<br />
	<br />
	{% endfor %}
	{% for post in site.posts %}
			<div class="homework">
                    <div class="front-page_images">
                        <a href="{{ post.url }}">
                            <img src="#"  alt="{{ post.title }}" />
                        </a>
                    </div>
				<div class="homeworktext">

                    <a href="#">
						<h4> <span class="glyphicon glyphicon-folder-close"></span> {{ post.title }} </h4>

                        </a>
                        <div class="project_posts">

                        {% if project.posts %}
                            {% for post in project.posts.all %}
                                <span class="glyphicon glyphicon-file"></span><a href="{{ post.url }}"> {{ post.title }} ( read ) </a> </blockquote>
                            {% endfor %}
                        {% endif %}
                        </div>




                        <div class="data"> <small> Last update:  {{ post.date }}</small></div>
						<div class="progress progress-striped active">   <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="98" style="width:100%"></div>

                         </div>
			    </div>

	        </div>
	     
	{% endfor %}

</div>
